.section-gap {
    padding: 120px 0px;
    @media(max-width: 991px) {
        padding: 50px 0px;
    }
}

.section-title {
    padding-bottom: 30px;
    h2 {
        margin-bottom: 20px;
    }
    p {
        font-size: 16px;
        margin-bottom: 0;
        @include media-breakpoint-down (md) {
            br {
                display: none;
            }
        }
    }
}

.alert-msg {
    color: #008000;
}

.primary-btn {
    line-height: 42px;
    padding: 0px 30px;
    border-radius: 5px;
    border: none;
    color: $white;
    display: inline-block;
    font-weight: 500;
    position: relative;
    @include transition();
    cursor: pointer;
    position: relative;
    &:focus {
        outline: none;
    }
    span {
        color: $white;
        position: absolute;
        top: 50%;
        transform: translateY(-60%);
        right: 30px;
        @include transition();
    }
    &:hover {
        color: $white;
        span {
            color: $white;
            right: 20px;
        }
    }
    &.white {
        border: 1px solid $white;
        color: $white;
        span {
            color: $white;
        }
        &:hover {
            background: $white;
            color: $primary-color;
            span {
                color: $primary-color;
            }
        }
    }
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

//--------- Start Banner Area -------------//
.home-banner-area {
    background-size: cover;
}

.banner-area {
    background: url(../img/banner-bg.jpg) no-repeat center;
    background-size: cover;
    min-height: 420px;
}

.blog-banner-area {
    background: url(../img/blog-banner-bg.jpg) no-repeat center;
    background-size: cover;
    .banner-content {
        h1 {
            font-size: 48px;
            line-height: 54px !important;
            margin: 0;
            @media ( max-width: 768px) {
                font-size:35px;
                line-height: 40px !important;
            }
            @media ( max-width: 414px) {
                font-size: 30px;
            }
        }
        p {
            font-size: 16px;
            margin: 40px 20px;
            @media ( max-width: 768px) {
                margin: 10px;
            }
        }
        .primary-btn {
            background: #fff;
            color: $title-color;
            &:hover {
                background: $primary-color;
                color: #ffffff;
            }
        }
    }
}

.fullscreen {
    height: 740px;
    @include media-breakpoint-down (sm) {
        height: 600px !important;
    }
    @media ( max-width: 768px) {
        height: 400px !important;
    }
}

.overlay-bg {
    background-color: rgba($black, .27);
}

.banner-content {
    h1 {
        color: $white;
        font-size: 72px;
        font-weight: 100;
        line-height: 77px !important;
        margin-top: 20px;
        margin-bottom: 20px;
        @media ( max-width: 768px) {
            font-size:35px;
            line-height: 40px !important;
        }
        @media ( max-width: 414px) {
            font-size: 30px;
        }
    }
    p {
        max-width: 900px;
    }
}

.header-btn {
    border: 1px solid transparent;
    background-color: $primary-color;
    &:hover {
        border: 1px solid $white;
        background: transparent;
        color: $white;
    }
}

.banner-img {
    text-align: right;
    @media(max-width: 767px) {
        width:60%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

//--------- End Banner Area -------------//
//--------- Start Latest News Area -------------//
.single-news {
    border: none;
    border-radius: 0 !important;
    @include transition();
    &:hover {
        box-shadow: 0px 12px 32px 0px rgba(26, 26, 26, 0.12);
        .card-body {
            border: 1px solid transparent;
            @include transition();
            .card-title {
                a {
                    color: $primary-color;
                }
            }
        }
    }
    .card-body {
        border: 1px solid rgba(0, 0, 0, 0.125);
        padding: 40px 28px;
        @media(max-width: 1024px) {
            padding: 35px 18px;
        }
        @media(max-width: 768px) {
            padding: 30px 18px;
        }
        .card-title {
            font-size: 20px;
            font-weight: 200;
            margin-bottom: 16px;
            @include transition();
            @media(max-width: 768px) {
                margin-bottom: 10px;
            }
            @media(max-width: 1024px) {
                font-size: 17px;
            }
            a {
                color: $black;
            }
        }
        .card-top-img {
            border-radius: 0 !important;
            width: 100%;
        }
        .card-btn {
            position: absolute !important;
            bottom: 58%;
            left: 10%;
        }
    }
    @media(max-width:991px) {
        margin-bottom: 30px;
    }
}

//--------- Start Latest News Area -------------//
//--------- Start Our Offer Area -------------//
.our-offer-area {
    background: $black;
    .main-title {
        margin-bottom: 0;
        @media(max-width: 991px) {
            margin-top: 50px;
        }
        h1 {
            color: $white;
        }
        p {
            font-size: 14px;
            margin-bottom: 40px;
        }
        .offer-btn {
            border: 1px solid $white;
            &:hover {
                background: $white;
                color: $title-color;
            }
            @media(max-width:380px) {
                margin-bottom: 20px;
            }
        }
        .quote-btn {
            background: $white;
            color: $title-color;
            border: 1px solid $white;
        }
    }
}

//--------- End Our Offer Area -------------//
//---------- Start Progress Bar ------------//
.single-circle {
    text-align: center;
    .single-item {
        height: 150px;
        width: 150px;
        margin: 0px auto;
    }
    h4 {
        margin-top: 35px;
        color: $white;
        font-size: 20px;
        font-weight: 100;
        @include transition();
    }
    .progressBar,
    .progressBar-contentCircle {
        display: table;
        height: 170px;
        position: absolute;
        width: 170px;
    }
    .progressBar-circle,
    .progressBar-background {
        fill: none;
        stroke: $white;
        stroke-width: 4;
        stroke-linecap: round;
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        position: relative;
        z-index: 10;
        @include transition();
    }
    .progressBar-background {
        stroke: $title-color;
        stroke-width: 3;
        z-index: 0;
    }
    .progressBar-percentage {
        background: $primary-color;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        padding: 40px 25px;
        border-radius: 50px;
        color: $white;
        font-size: 24px;
        @include transition();
    }
    &:hover {
        .progressBar-circle {
            stroke: $primary-color;
        }
        .progressBar-percentage {
            color: $primary-color;
            background: $white;
        }
        h4 {
            color: $primary-color;
        }
    }
}

//----------- End Progress Bar ----------//
//--------- End Recent Project Area -------------//
.recent-completed-project {
    .active {
        color: $primary-color;
    }
    .filters {
        text-align: center;
        margin-bottom: 30px;
        li {
            display: inline-block;
            margin-right: 30px;
            cursor: pointer;
            @media (max-width: 991px) {
                margin-right: 20px;
            }
            a {
                font-size: 13px;
                color: red;
            }
            &:last-child {
                margin-right: 0px;
            }
            &.active {
                a {
                    color: $primary-color;
                }
            }
        }
    }
    .all {
        margin-bottom: 30px;
    }
}

.projects_inner {
    margin-bottom: -30px;
}

.projects_item {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    &:before {
        content: "";
        background: rgba(63, 172, 228, 0.68);
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 300ms ease;
        cursor: pointer;
    }
    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        @include transition();
        cursor: pointer;
        img {
            opacity: 0;
            @include transition();
        }
    }
    &:hover {
        &:before {
            opacity: 1;
        }
        .icon {
            img {
                opacity: 1;
            }
        }
        .projects_text {
            h4 {
                background: linear-gradient(to right, #8490ff 0%, #62bdfc 70%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.projects_text {
    text-align: center;
    margin-top: 15px;
    h4 {
        font-size: 21px;
        font-weight: 100;
        margin-bottom: 5px;
        @include transition;
        text-transform: capitalize;
        cursor: pointer;
        a {
            color: $black;
            &:hover {
                color: $primary-color;
            }
        }
    }
    p {
        margin-bottom: 0px;
        font-size: 14px;
    }
}

//--------- End Recent Project Area -------------//
//--------- Start testimonial Area -------------//
.testimonial-area {
    background: url(../img/testimonial-bg.jpg) no-repeat scroll center center;
    background-size: cover;
    position: relative;
    &:before {
        content: "";
        background: rgba(63, 172, 228, 0.68);
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
    }
}

.about-testimonial-area {
    .single-testimonial {
        background: $offwhite;
        border: 0;
        margin: 20px;
        &:hover {
            box-shadow: -10px 10px 20px rgba(221, 221, 221, 0.62);
        }
    }
}

.single-testimonial {
    background-color: $white;
    border: 1px solid #eeeeee;
    padding: 25px 30px 25px 30px;
    @include transition();
    &:hover {
        cursor: pointer;
    }
    .thumb {
        margin-right: 30px;
    }
    h4 {
        @include transition();
        margin-bottom: 5px;
        font-weight: 200;
    }
    &:hover {
        h4 {
            color: $primary-color;
            cursor: pointer;
        }
    }
    @media(max-width:575px) {
        margin: 15px;
    }
}

//--------- End testimonial Area -------------//
//--------- start blog  area -------------//
.blog-area {}

.single-blog {
    overflow: hidden;
    .thumb {
        overflow: hidden;
    }
    &:hover {
        cursor: pointer;
        img {
            transform: scale(1.2);
        }
        h4 {
            a {
                color: $primary-color;
            }
        }
    }
    img {
        overflow: hidden;
        @include transition();
        cursor: pointer;
    }
    h4 {
        margin-bottom: 12px;
        @include transition();
        font-weight: 100;
    }
    a {
        color: $black;
    }
    .date {
        background-color: #000;
        color: #fff;
        font-weight: 100;
        padding: 2px 15px;
        width: 115px;
        text-align: center;
        margin-top: 20px;
    }
    @media(max-width:800px) {
        margin-bottom: 30px;
    }
}

//--------- end blog area  -------------//
//--------- start brand Area -------------//
.brands-area {
    background-color: $offwhite;
    .brand-wrap {
        padding: 40px 0;
        .owl-carousel .owl-item img {
            width: auto !important;
        }
        .single-brand {
            text-align: center;
            @include filter(grayscale, 100%);
            opacity: .5;
            @include transition();
            &:hover {
                @include filter(grayscale, 0%);
                opacity: 1;
            }
        }
    }
}

//--------- end brand Area -------------//
/* Portfolio Details Area css
============================================================================================ */

.portfolio_details_area {}

.portfolio_details_inner {
    .row {
        margin-bottom: 65px;
        @media(max-width: 480px) {
            margin-bottom: 30px;
        }
    }
    p {
        margin-bottom: 30px;
        font-size: 14px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    .portfolio_right_text {
        @media(max-width: 991px) {
            margin-top: 0px;
        }
        @media(max-width: 576px) {
            margin-top: 50px;
        }
        h4 {
            color: $black;
            font-size: 21px;
            text-transform: uppercase;
            margin-bottom: 18px;
            font-weight: 100;
        }
        p {
            margin-bottom: 25px;
            font-size: 14px;
        }
        .list {
            li {
                margin-bottom: 7px;
                span {
                    font-size: 14px;
                    color: $black;
                    font-weight: 400;
                    width: 97px;
                    display: inline-block;
                }
                font-weight: normal;
                font-size: 14px;
                &:last-child {
                    margin-bottom: 0px;
                }
                i {
                    color: #f1cd09;
                }
            }
        }
    }
}

.social_details {
    margin-top: 50px;
    @media(max-width: 480px) {
        margin-top: 20px;
    }
    li {
        display: inline-block;
        margin-right: 14px;
        a {
            font-size: 14px;
            i {
                color: $black !important;
                &:hover {
                    color: $primary-color !important;
                }
            }
        }
        &:last-child {
            margin-right: 0px;
        }
    }
}

/* End Portfolio Details Area css
============================================================================================ */

//----------- Start Generic Page -------------//
.whole-wrap {
    background-color: $white;
}

.generic-banner {
    margin-top: 60px;
    background-color: $primary-color;
    text-align: center;
    .height {
        height: 600px;
        @include media-breakpoint-down (sm) {
            height: 400px;
        }
    }
    .generic-banner-content {
        h2 {
            line-height: 1.2em;
            margin-bottom: 20px;
            br {
                @include media-breakpoint-down (md) {
                    display: none;
                }
            }
        }
        p {
            text-align: center;
            font-size: 16px;
            br {
                @include media-breakpoint-down (md) {
                    display: none;
                }
            }
        }
    }
}

.generic-content {
    h1 {
        font-weight: 600;
    }
}

.about-generic-area {
    background: $white;
    .border-top-generic {}
    p {
        margin-bottom: 20px;
    }
}

.white-bg {
    background: $white;
}

.section-top-border {
    padding: 50px 0;
    border-top: 1px dotted #eee;
}

.switch-wrap {
    margin-bottom: 10px;
    p {
        margin: 0;
    }
}

//----------- End Generic Page -------------//
//--------- Start project detials Area -------------//
.project-details-right {
    @media(max-width: 991px) {
        margin-top:50px;
    }
    .details-info {
        .names {
            li {
                font-weight: 400;
                color: black;
            }
        }
        .desc {
            li {
                margin-left: 20px;
            }
            .star {
                .checked {
                    color: $primary-color;
                }
            }
        }
    }
    .social-links {
        i {
            color: $text-color;
            @include transition();
            margin-right: 10px;
            &:hover {
                color: $primary-color;
            }
        }
    }
}

//--------- End project detials Area -------------//
//--------- Start Common Page Style For  -------------//
.link-nav {
    margin-top: 10px;
    margin-bottom: 0px;
}

.about-content {
    margin-top: 110px;
    padding: 50px 0px;
    @media(max-width: 767px) {
        margin:120px 16px;
    }
    h1 {
        font-size: 48px;
        font-weight: 100;
        @media ( max-width: 768px) {
            font-size:35px;
        }
        @media ( max-width: 414px) {
            font-size: 30px;
        }
    }
    a {
        color: $white;
        font-weight: 300;
        font-size: 14px;
    }
    .lnr {
        margin: 0px 10px;
        font-weight: 600;
    }
}

//--------- End Common Page Style For  -------------//
// ============= Start contact Page Styles  =============  //
.contact-page-area {
    .contact-wrap {
        background: $white;
        padding: 20px;
    }
    .map-wrap {
        margin-bottom: 80px;
    }
    .contact-btns {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        padding: 40px;
        color: $white;
        margin-bottom: 30px;
        &:hover {
            color: $white;
        }
    }
    .form-area {
        .mt-30 {
            @media(max-width: 991px) {
                margin-top: 0px;
            }
        }
        .form-control {
            &:focus {
                box-shadow: none !important;
                border-color: #ced4da !important;
            }
        }
        input {
            padding: 12px;
        }
        input,
        textarea {
            border-radius: 0;
            font-size: 13px !important;
        }
        textarea {
            height: 154px;
            margin-top: 0px;
            padding: 15px;
        }
        .primary-btn {
            @include transition();
            border-radius: 0 !important;
            background: $primary-color;
            color: $white;
            font-size: 14px;
            border: 1px solid $primary-color;
            &:hover {
                background: transparent;
                border: 1px solid $primary-color;
                color: $primary-color;
            }
            @media(max-width: 991px) {
                margin-top: 20px;
            }
        }
    }
    .address-wrap {
        @media(max-width: 991px) {
            margin-bottom:30px;
        }
        .single-contact-address {
            margin-bottom: 8px;
            h5 {
                font-weight: 200;
                font-size: 16px;
                margin-bottom: 5px;
            }
            .lnr {
                font-size: 30px;
                font-weight: 500;
                color: $primary-color;
                margin-right: 30px;
            }
            @media(max-width:1024px) and (min-width:990px) {
                h5 {
                    font-size: 14px;
                }
                p {
                    font-size: 10px;
                }
            }
        }
    }
}

// ============= End contact Page Styles  =============  //
/*
################
               Start Blog Home  Page style
################
*/

.blog-home-banner {
    background: url(../img/blog/blog-home-banner.jpg) bottom;
    background-size: cover;
    padding: 130px 0px;
    .primary-btn {
        border-radius: 0px;
        background: $white;
        color: $black;
        font-weight: 600;
        border: 1px solid transparent;
        @include transition();
        &:hover {
            background: transparent;
            border-color: $white;
            color: $white;
        }
    }
    .overlay-bg {
        background: rgba(#000, .50);
    }
}

.blog-page {
    background: #f9f9ff;
}

.blog-header-content {
    h1 {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        @media(max-width: 414px) {
            font-size:30px;
        }
    }
    p {
        margin: 20px 0px;
    }
}

.top-category-widget-area {
    .single-cat-widget {
        .overlay-bg {
            background: rgba(#000, .85);
            margin: 7%;
            @include transition();
        }
        position:relative;
        text-align:center;
        img {
            width: 100%;
        }
        .content-details {
            top: 32%;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            color: $white;
            bottom: 0px;
            position: absolute;
            h4 {
                color: $white;
            }
            span {
                display: inline-block;
                background: $white;
                width: 60%;
                height: 1%;
            }
        }
        &:hover {
            .overlay-bg {
                background: rgba($primary-color, .85);
                margin: 7%;
                @include transition();
            }
        }
        @media(max-width:991px) {
            margin-bottom: 50px;
        }
    }
}

.post-content-area {
    .single-post {
        margin-bottom: 50px;
        .meta-details {
            text-align: right;
            margin-top: 35px;
            @media(max-width: 767px) {
                text-align:left;
            }
            .tags {
                margin-bottom: 30px;
                li {
                    display: inline-block;
                    font-size: 14px;
                    a {
                        color: $black;
                        @include transition();
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
            @media(max-width:1024px) {
                margin-top: 0px;
            }
        }
        .user-name,
        .date,
        .view,
        .comments {
            a {
                color: $text-color;
                margin-right: 10px;
                @include transition();
                &:hover {
                    color: $primary-color;
                }
            }
            .lnr {
                font-weight: 900;
                color: $black;
            }
        }
        .feature-img {
            img {
                width: 100%;
            }
        }
        .posts-title {
            h3 {
                margin: 20px 0px;
            }
        }
        .excert {
            margin-bottom: 20px;
        }
        .primary-btn {
            background: $white !important;
            color: $black !important;
            @include transition();
            border-radius: 0px !important;
            &:hover {
                background: $primary-color !important;
                color: $white !important;
            }
        }
    }
}

.blog-pagination {
    padding-top: 60px;
    padding-bottom: 120px;
    .page-link {
        border-radius: 0;
    }
    .page-item {
        border: none;
    }
}

.page-link {
    background: transparent;
    font-weight: 400;
}

.blog-pagination .page-item.active .page-link {
    background-color: $primary-color;
    border-color: transparent;
}

.blog-pagination .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: $text-color;
    border: none;
}

.blog-pagination .page-link .lnr {
    font-weight: 600;
}

.blog-pagination .page-item:last-child .page-link,
.blog-pagination .page-item:first-child .page-link {
    border-radius: 0;
}

.blog-pagination .page-link:hover {
    color: #fff;
    text-decoration: none;
    background-color: $primary-color;
    border-color: #eee;
}

.widget-wrap {
    background: #fafaff;
    padding: 20px 0px;
    border: 1px solid #eee;
    @media(max-width: 991px) {
        margin-top:50px;
    }
    .single-sidebar-widget {
        margin: 30px 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #eee;
        &:last-child {
            border-bottom: none;
            margin-bottom: 0px;
        }
    }
    .search-widget {
        form.search-form input[type=text] {
            color: $white;
            padding: 10px 22px;
            font-size: 14px;
            border: none;
            float: left;
            width: 80%;
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
            background: $primary-color;
        }
        ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: $white;
        }
        ::-moz-placeholder {
            /* Firefox 19+ */
            color: $white;
        }
        :-ms-input-placeholder {
            /* IE 10+ */
            color: $white;
        }
        :-moz-placeholder {
            /* Firefox 18- */
            color: $white;
        }
        form.search-form button {
            float: left;
            width: 20%;
            padding: 10px;
            background: $primary-color;
            color: white;
            font-size: 17px;
            border: none;
            cursor: pointer;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
        }
        form.search-form::after {
            content: "";
            clear: both;
            display: table;
        }
    }
    .user-info-widget {
        text-align: center;
        a h4 {
            margin-top: 40px;
            margin-bottom: 5px;
            @include transition();
        }
        .social-links {
            li {
                display: inline-block;
                margin-bottom: 10px;
                a {
                    color: $black;
                    padding: 10px;
                    font-size: 14px;
                    @include transition();
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
    .popular-post-widget {
        .popular-title {
            background: $primary-color;
            color: $white;
            text-align: center;
            padding: 12px 0px;
        }
        .popular-post-list {
            margin-top: 30px;
            .thumb {
                img {
                    width: 100%;
                }
            }
        }
        .single-post-list {
            margin-bottom: 20px;
            .details {
                margin-left: 12px;
                h6 {
                    font-weight: 200;
                    margin-bottom: 10px;
                    font-size: 15px;
                    color: $black;
                }
                p {
                    margin-bottom: 0px;
                }
            }
        }
    }
    .ads-widget {
        img {
            width: 100%;
        }
    }
    .post-category-widget {
        .category-title {
            background: $primary-color;
            color: $white;
            text-align: center;
            padding: 12px 0px;
        }
        .cat-list {
            li {
                p {
                    font-weight: 300;
                    font-size: 14px;
                    margin-bottom: 0px;
                    @include transition();
                }
                a {
                    color: $text-color;
                }
                padding-top:15px;
                padding-bottom:8px;
                border-bottom:2px dotted #eee;
                @include transition();
                &:hover {
                    border-color: $primary-color;
                    p {
                        color: $primary-color;
                    }
                }
            }
        }
    }
    .newsletter-widget {
        .newsletter-title {
            background: $primary-color;
            color: $white;
            text-align: center;
            padding: 12px 0px;
        }
        .col-autos {
            width: 100%;
        }
        p {
            text-align: center;
            margin: 20px 0px;
        }
        .bbtns {
            background: $primary-color;
            color: $white;
            font-size: 12px;
            font-weight: 400;
            padding: 8px 20px;
            border-radius: 0;
        }
        .input-group-text {
            background: $white;
            border-radius: 0px;
            vertical-align: top;
            i {
                color: #ccc;
                margin-top: -1px;
            }
        }
        .form-control {
            border-left: none !important;
            border-right: none !important;
            border-radius: 0px;
            font-size: 13px;
            color: #ccc;
            padding: 9px;
            padding-left: 0px;
            &:focus {
                box-shadow: none;
                border-color: #ccc;
            }
        }
        ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-size: 13px;
            color: #ccc;
        }
        ::-moz-placeholder {
            /* Firefox 19+ */
            font-size: 13px;
            color: #ccc;
        }
        :-ms-input-placeholder {
            /* IE 10+ */
            font-size: 13px;
            color: #ccc;
        }
        :-moz-placeholder {
            /* Firefox 18- */
            font-size: 13px;
            color: #ccc;
        }
        .text-bottom {
            margin-bottom: 0px;
        }
    }
    .tag-cloud-widget {
        .tagcloud-title {
            background: $primary-color;
            color: $white;
            text-align: center;
            padding: 12px 0px;
            margin-bottom: 30px;
        }
        ul {
            li {
                display: inline-block;
                border: 1px solid #eee;
                background: #fff;
                padding: 4px 14px;
                margin-bottom: 10px;
                @include transition();
                &:hover {
                    background: $primary-color;
                    a {
                        color: $white;
                    }
                }
                a {
                    font-size: 12px;
                    color: black;
                }
            }
        }
    }
}

/*
################
               End Blog Home  Page style
################
*/

/*
################
               Start Blog Details  Page style
################
*/

.single-post-area {
    padding-top: 80px;
    padding-bottom: 80px;
    .meta-details {
        margin-top: 20px !important;
    }
    .social-links {
        li {
            display: inline-block;
            margin-bottom: 10px;
            a {
                color: $black;
                padding: 7px;
                font-size: 14px;
                @include transition();
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
    .quotes {
        margin-top: 20px;
        padding: 30px;
        background-color: rgb(255, 255, 255);
        box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
    }
    .arrow {
        position: absolute;
        .lnr {
            font-size: 20px;
            font-weight: 600;
        }
    }
    .thumb {
        .overlay-bg {
            background: rgba(#000, .8);
        }
    }
    .navigation-area {
        border-top: 1px solid #eee;
        padding-top: 30px;
        .nav-left {
            text-align: left;
            .thumb {
                margin-right: 20px;
                background: #000;
                img {
                    @include transition();
                }
            }
            .lnr {
                margin-left: 20px;
                opacity: 0;
                @include transition();
            }
            &:hover {
                .lnr {
                    opacity: 1;
                }
                .thumb {
                    img {
                        opacity: .5;
                    }
                }
            }
            @media(max-width:767px) {
                margin-bottom: 30px;
            }
        }
        .nav-right {
            text-align: right;
            .thumb {
                margin-left: 20px;
                background: #000;
                img {
                    @include transition();
                }
            }
            .lnr {
                margin-right: 20px;
                opacity: 0;
                @include transition();
            }
            &:hover {
                .lnr {
                    opacity: 1;
                }
                .thumb {
                    img {
                        opacity: .5;
                    }
                }
            }
        }
    }
}

.comments-area {
    background: #fafaff;
    border: 1px solid #eee;
    padding: 50px 20px;
    margin-top: 50px;
    @media(max-width: 414px) {
        padding:50px 8px;
    }
    h4 {
        text-align: center;
        margin-bottom: 50px;
    }
    a {
        color: $black;
    }
    .comment-list {
        padding-bottom: 30px;
        &:last-child {
            padding-bottom: 0px;
        }
        &.left-padding {
            padding-left: 25px;
        }
        @media(max-width:413px) {
            .single-comment {
                h5 {
                    font-size: 12px;
                }
                .date {
                    font-size: 11px;
                }
                .comment {
                    font-size: 10px;
                }
            }
        }
    }
    .thumb {
        margin-right: 20px;
    }
    .date {
        font-size: 13px;
        color: #cccccc;
    }
    .comment {
        color: #777777;
    }
    .btn-reply {
        background-color: $white;
        color: $black;
        padding: 8px 30px;
        display: block;
        @include transition();
        &:hover {
            background-color: $primary-color;
            color: $white;
        }
    }
}

.comment-form {
    text-align: center;
    background: #fafaff;
    border: 1px solid #eee;
    padding: 50px 20px;
    margin-top: 50px;
    h4 {
        text-align: center;
        margin-bottom: 50px;
    }
    .name {
        padding-left: 0px;
        @media(max-width: 991px) {
            padding-right:0px;
        }
    }
    .email {
        padding-right: 0px;
        @media(max-width: 991px) {
            padding-left:0px;
        }
    }
    .form-control {
        padding: 10px;
        background: #fff;
        border: none;
        border-radius: 0px;
        width: 100%;
        font-size: 13px;
        color: #777777;
        &:focus {
            box-shadow: none;
        }
    }
    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 13px;
        color: #777;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 13px;
        color: #777;
    }
    :-ms-input-placeholder {
        /* IE 10+ */
        font-size: 13px;
        color: #777;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        font-size: 13px;
        color: #777;
    }
    .primary-btn {
        border-radius: 0px !important;
        border: 1px solid transparent;
        &:hover {
            background: transparent;
            border-color: $primary-color !important;
            color: $primary-color !important;
        }
    }
}

/*
################
               End Blog Details  Page style
################
*/